# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Raw Video Files
src/assets/Commercekind Testimonial 1.mp4
src/assets/Testimonial 2.mov
src/assets/VID_20240703_212335.mp4
public/videos/testimonial-2.mov
public/videos/testimonial-3-opt.mp4

